In [2]:
import pandas as pd

In [5]:
DF=pd.read_csv(r'cthrr460_14449656.csv', skiprows=10)

In [6]:
DF.head()

,Employee Name,EmplID,Empl,Date Under,Union,TRC,Description,Hours,Override
0,Rcd,Report,Code,Reason,NaN,NaN,NaN,NaN,NaN
1,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Attruia,Stephanie",128186,2,01/01/2025,62.0,HOL,Hol,8.0,NaN
3,NaN,NaN,NaN,01/02/2025,NaN,REG,Regular,8.0,NaN
4,NaN,NaN,NaN,01/03/2025,NaN,REG,Regular,8.0,NaN

In [ ]:
def clean_data(DF):
    # Filter rows based on column: 'Employee Name'
    DF = DF[~DF['Employee Name'].str.contains("------", regex=False, na=False, case=False)]
    # Replace gaps forward from the previous valid value in: 'Employee Name', 'EmplID', 'Empl'
    DF = DF.fillna({'Employee Name': DF['Employee Name'].ffill(), 'EmplID': DF['EmplID'].ffill(), 'Empl': DF['Empl'].ffill()})
    return DF

DF_clean = clean_data(DF.copy())
DF_clean.head()